# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.dist/
*.egg-info/
pip-wheel-metadata/

# Logs and databases
*.log
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/

# Local development configuration
.env

# IDE-specific files
.idea/
.vscode/

# Dependency directories
/.venv
/.pytest_cache

# Compiled Python files
*.pyc
*.pyo
